body{
    background-color: #cccccc;
}
#found-result{
    font-size: 20px;
    color: gray;
}

#No-result{
    margin:0px auto;
}
#blog{
    text-decoration: none;
    color:black;
}
#news{
    text-decoration: none;
    color: #0dcaf0;
}
@media screen and (max-width:576px) {
    .media img{
        width: 576px;
    }
}
.rounded-circle{
    transition: .3s ease;

}
.rounded-circle:hover{
    transform: scale(1.3);
}
